<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Flags</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #333;
            text-align: center;
        }
        .flag-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            padding: 10px 15px;
            margin-bottom: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .flag-name {
            font-weight: bold;
            font-size: 16px;
        }
        .flag-status {
            font-weight: bold;
            margin-right: 20px;
        }
        .on {
            color: green;
        }
        .off {
            color: red;
        }
        .button-group {
            display: flex;
            gap: 10px;
        }
        .button {
            padding: 5px 15px;
            font-size: 14px;
            color: white;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }
        .toggle-button {
            background-color: #007bff;
        }
        .edit-button {
            background-color: #ffc107;
        }
        .delete-button {
            background-color: #dc3545;
        }
        .toggle-button:hover {
            background-color: #0056b3;
        }
        .edit-button:hover {
            background-color: #e0a800;
        }
        .delete-button:hover {
            background-color: #c82333;
        }
        .add-flag-form {
            margin-top: 20px;
            background-color: white;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .form-group {
            margin-bottom: 10px;
        }
        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .form-group input, .form-group select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        .form-group button {
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
        }
        .form-group button:hover {
            background-color: #218838;
        }
        .flash-message {
            margin-bottom: 20px;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
            font-weight: bold;
        }
        .flash-message.success {
            background-color: #d4edda;
            color: #155724;
        }
        .flash-message.error {
            background-color: #f8d7da;
            color: #721c24;
        }
    </style>
</head>
<body>
    <h1>Feature Flags</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% for flag, value in flags.items() %}
    <div class="flag-container">
        <div class="flag-name">{{ flag }}</div>
        <div class="flag-status {{ 'off' if value == 'false' else 'on' }}">
            {{ 'ON' if value == 'true' else 'OFF' }}
        </div>
        <div class="button-group">
            <a href="/toggle/{{ flag }}">
                <button class="button toggle-button">Toggle</button>
            </a>
            <a href="/edit/{{ flag }}">
                <button class="button edit-button">Edit</button>
            </a>
            <a href="/delete/{{ flag }}">
                <button class="button delete-button">Delete</button>
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="add-flag-form">
        <h2>Add New Feature Flag</h2>
        <form action="/add_flag" method="post">
            <div class="form-group">
                <label for="flag_name">Flag Name:</label>
                <input type="text" id="flag_name" name="flag_name" required>
            </div>
            <div class="form-group">
                <label for="value">Value:</label>
                <select id="value" name="value" required>
                    <option value="true">ON</option>
                    <option value="false">OFF</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit">Add Flag</button>
            </div>
        </form>
    </div>
</body>
</html>
